{% extends 'partials/base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}

{% block body_class %}class="error-page"{% endblock %}


{% block content %}
<div class="error-404">
    <div class="error-container">
        <h1 class="error-code">500</h1>
        <h2 class="error-title">Internal Server Error</h2>
        <p class="error-message">
            Sorry, something went wrong on our server.<br>
            Please try again later or return to the homepage.
        </p>
        <a href="{% url 'core:index' %}" class="error-button">Back to Homepage</a>
    </div>
</div>
{% endblock %}